body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    height: 960px;
}

header{
    height: 5%;
    font-size: 13px;
}

.top-icons{
    float: right;
    height: 100%;
    width: 18%;
    display: flex;
}

.top-icons div{
    margin: 1px;
    flex-basis: 50%;
}

.nav-text{
    display: flex;
    align-items: center;
}

.nav-text a{
    color: black;
    flex-basis: 50%;
    text-decoration: none;
}

.nav-text a:hover{
    text-decoration: underline;

}

.nav-text div{
    text-align: center;
}

.nav-images{
    display: flex;
    align-items: center;
}
.nav-images div{
    margin:auto;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.round-hover{
    width: 48px;
    height: 48px;
}

.round-hover:hover{
    border-radius:  50%;
    background-color: silver;
}

main{
    height: 80%;
}

.logo_container{
    height: 30%;
    position: relative;
    justify-content: center;

}

.logo{
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
}


.searchbar{
    width:35%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    border: 2px solid rgb(202, 202, 202);
    padding: 10px;
    border-radius: 23px;
}

.submit{
    border: none;
    height: auto;
}

.search_form{
    border: none;
    width: 95%;
}

.submit-container{
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    margin-top: 14px;;
    display: flex;
    justify-content:space-around;
}

.submit-buttons{
    padding: 10px;
    border: none;
}

footer{
    color: rgb(161, 161, 161);
    padding: 15px;
    height: 15%;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bottom-row{
    border-top: 1px solid rgb(161, 161, 161);
    display: flex;
    justify-content: space-between;
}

.content-container{
    width: 30%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
