header{
    height: 60px;
    font-size: 13px;
}

.top-icons{
    float: right;
    height: 100%;
    width: 18%;
    display: flex;
}

.top-icons div{
    margin: 1px;
    flex-basis: 50%;
}

.nav-text{
    display: flex;
    align-items: center;
}

.nav-text a{
    color: black;
    flex-basis: 50%;
    text-decoration: none;
}

.nav-text a:hover{
    text-decoration: underline;

}

.nav-text div{
    text-align: center;
}

.nav-images{
    display: flex;
    align-items: center;
}
.nav-images div{
    margin:auto;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.round-hover{
    width: 48px;
    height: 48px;
}

.round-hover:hover{
    border-radius:  50%;
    background-color: silver;
}

main{
    height: 80%;
}

.logo_container{
    height: 30%;
    position: relative;
    justify-content: center;

}

.logo{
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
}

main form{
    width:40%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 23px;
}

.submit{
    border: none;
    height: auto;
}
.search_bar{
    border: none;
    width: 95%;

}